.layout
{
    margin: 0px 80px;
    padding: auto;
}
.banner
{
    display: flex;
    gap: 15%;
    padding-top: 20px;
    align-items: center;
    /* height: 700px; */
    /* border: 2px rgb(151, 56, 46) solid; */
    
}
#b-background
{
    background-color: #fce4ea;
    
}
#b-content
{
    /* border: 2px aquamarine solid; */
    width: 45%;
    /* padding-left: 40px; */
    
  
}
.b-title
{
    font-size: 70px;
    font-weight: bold;
}
.paragraph
{
    color: rgb(80, 77, 77);
}
#b-img
{
    /* border: goldenrod solid; */
    width: 40%;
}
.flo-img
{
    width: 100%;
    
    
}
.pink-btn
{
    background-color: #E55473;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px;
    
}
/* our featured flower */
.featured-up
{
    text-align: center;
    margin: 50px 0px;
}
.flowers-type
{
    
    display: flex;
    gap: 13%;
    justify-items: center;
}
.bor
{
    border: green solid;
}